# Python

In [1]:
#to give Comment use '#'

In [2]:
'''
hello
'''

'\nhello\n'

# Arithmatic Operators

In [3]:
5+10

15

In [4]:
5*10

50

In [5]:
50/5

10.0

In [6]:
50%5

0

In [7]:
10/3

3.3333333333333335

In [8]:
10//3 # // float deviation for round up value

3

In [9]:
2**3 #power of

8

In [10]:
10 *'str'

'strstrstrstrstrstrstrstrstrstr'

## Assignment Operators

In [11]:
x=5

In [12]:
x+=3

In [13]:
x

8

In [14]:
x*=5
x

40

In [15]:
x/=5
x

8.0

## Comparison Operators

In [16]:
x=5 
y=7

In [17]:
x==y

False

In [18]:
x!=y

True

In [19]:
x>=y

False

In [20]:
x<=y

True

## Identity Operators

In [21]:
x=5

In [22]:
y=10

In [23]:
x is y

False

In [24]:
x is not y

True

## Logical Operators

In [25]:
(1>2) and (2<3) #true true is true everything else is false

False

In [26]:
(1<2)and(2<3)

True

In [27]:
(1>2) or (2<3) #false false is false else true

True

## String Defining Variables

In [28]:
x='Anirudh'

In [29]:
x

'Anirudh'

In [30]:
print(x) #to only get the string

Anirudh

In [31]:
y="Anirudh's new laptop" #when' is used

In [32]:
print(y)

Anirudh's new laptop

In [33]:
z='''Kartik's friend said that,"He said great" ''' #when more than one sentence is use

In [34]:
print(z)

Kartik's friend said that,"He said great"

### 3 Methods of import

In [35]:
import math

In [36]:
math.sqrt(25)

5.0

In [37]:
math.pow(2,3)

8.0

In [38]:
import math as m #aliasing method

In [39]:
m.sqrt(25)

5.0

In [40]:
m.log(10)

2.302585092994046

In [41]:
from math import sqrt #direct use when repetedly used function

In [42]:
sqrt(25)

5.0

## Numeric Concat

In [43]:
a=5
b=10

In [44]:
c=a+b

In [45]:
c

15

In [46]:
a=10
b=20

In [47]:
area=a*b

In [48]:
area

200

## String and numeric concat

In [49]:
l=5
b=10

In [50]:
p=2*(l+b)

In [51]:
p

30

In [52]:
print("Perimeter of rectangle=",p,"meter")

Perimeter of rectangle= 30 meter

In [53]:
a=25
b=10

In [54]:
area=a*b

In [55]:
print("Area = ",area,"m.sqr")

Area =  250 m.sqr

In [56]:
l=10
w=50

In [57]:
p=2*(l+w)

In [58]:
a=l*b

In [59]:
print("Perimeter of rectangle ={} \n Area of rectangle={}".format(p,a)) 
#format function is used for string and numeric concating with easy format for printing

Perimeter of rectangle =120
 Area of rectangle=100

In [60]:
first_name='Parimal'
last_name='Bhoyar'

In [61]:
print("My first name is {first} and last name is {last}".format(first=first_name,last=last_name))

My first name is Parimal and last name is Bhoyar

In [62]:
print("My first name is {first} and last name is {last}".format(last=last_name,first=first_name))#order does not matter

My first name is Parimal and last name is Bhoyar

## String Concat

In [63]:
str1="hello world"

In [64]:
str2="it is data science"

In [65]:
print(str1+str2)

hello worldit is data science

In [66]:
print(str1,str2)

hello world it is data science

In [67]:
city="nagpur"

In [68]:
print("I love ",city)

I love  nagpur

## Type Function

In [69]:
a=1

In [70]:
b="hello world"

In [71]:
c=1.2

In [72]:
d=True

In [73]:
type(a)

int

In [74]:
type(b)

str

In [75]:
type(c)

float

In [76]:
type(d)

bool

In [77]:
len('Parimal')

7

In [78]:
print(first_name.isalnum())
print(first_name.isalpha())
print(first_name.isdigit())

True
True
False

## List

Unlike c++ or java python programming language doesnt have array to hold a sequence of values then it provide the list class, Python list can be seen as collection of values

In [79]:
l1=[1,2,3]

In [80]:
sum(l1)

6

In [81]:
l2=['a','b','c']

In [82]:
l3=['a',2,'c']

In [83]:
l4=[True,False]

In [84]:
type(l1)

list

In [85]:
type(l2)

list

In [86]:
print(l1)

[1, 2, 3]

In [87]:
print(l1+l2+l3+l4)

[1, 2, 3, 'a', 'b', 'c', 'a', 2, 'c', True, False]

In [88]:
l1[2] #this use for accesing the values according to index

3

In [89]:
l2[-1] #last value in list

'c'

In [90]:
city=['Nagpur','Pune','Mumbai']

In [91]:
print(city)

['Nagpur', 'Pune', 'Mumbai']

In [92]:
len(city)

3

In [93]:
city[1]

'Pune'

In [94]:
city.append('Banglore') #to add in list

In [95]:
print(city) #it adds at last and only 1 value at a time

['Nagpur', 'Pune', 'Mumbai', 'Banglore']

In [96]:
city.insert(1,'goa') #it adds at specific position

In [97]:
print(city)

['Nagpur', 'goa', 'Pune', 'Mumbai', 'Banglore']

In [98]:
city.extend(['Delhi','Gurgaon']) #to add multiple values in last

In [99]:
print(city)

['Nagpur', 'goa', 'Pune', 'Mumbai', 'Banglore', 'Delhi', 'Gurgaon']

In [100]:
city[0:3] #slicing list

['Nagpur', 'goa', 'Pune']

In [101]:
city.remove('Pune') #to remove form list

In [102]:
print(city)

['Nagpur', 'goa', 'Mumbai', 'Banglore', 'Delhi', 'Gurgaon']

In [103]:
a=list('abc') #other method to make list

In [104]:
print(a)

['a', 'b', 'c']

In [105]:
len(l1)

3

In [106]:
l1.count(2) #index position

1

In [107]:
l1*2

[1, 2, 3, 1, 2, 3]

In [108]:
l1.pop() #l1.pop(2) ,ie to remove or delete value at particular index

3

In [109]:
l1

[1, 2]

## Tuple

python tuple is like as list, it can hold sequence of item, the diffrence is that it is immutable (means we can not edit the tuple.)

In [110]:
percentage=(90,95,85)

In [111]:
print(percentage)

(90, 95, 85)

In [112]:
type(percentage)

tuple

In [123]:
percentage.append(70)  #gives error as tuple is immutable

AttributeError: 'tuple' object has no attribute 'append'

In [129]:
b=1,1.2,'three' #other method of tuple

In [130]:
print(b)

(1, 1.2, 'three')

In [131]:
per=(99,95,90,89,93,96)

In [132]:
a,b,c,d,e,f=per #to add tuple element into variable

In [133]:
print(b)

95

In [134]:
del a #to delete variable a

In [135]:
print(a)

NameError: name 'a' is not defined

## Dictionary
A dictionary is collection which is unordered, changeable and Indexed. In python dict are written with curly brackets, and they have keys and values.

syntax= {key:value,key:value}
python dictonary which is another type of data structure in python

In [136]:
dict1={1:'a',2:'b'}

In [137]:
dict2={'a':1,'b':2}

In [138]:
dict3={'a':'NGP','b':'BOM'}

In [139]:
dict4={100:2,200:3}

In [140]:
dic={1:[100,200,300],2:[800,400,300]}

In [141]:
print(dict1)

{1: 'a', 2: 'b'}

In [142]:
dict2['a'] #give key

1

In [143]:
dict2.keys()

dict_keys(['a', 'b'])

In [144]:
dict2.values()

dict_values([1, 2])

In [145]:
dict2.items()

dict_items([('a', 1), ('b', 2)])

In [146]:
dict5={3:'c',4:'d'}

In [147]:
dict1.update(dict5)

In [148]:
dict1.items()

dict_items([(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')])

In [149]:
city=['Nagpur','Pune','Banglore']

In [150]:
'Pune' in city

True

In [151]:
'Goa' not in city

True

In [152]:
type(dict())

dict

## Range Function

The range function is an inbuilt funtionn in python and it retuns a range object.

In [153]:
range(10)

range(0, 10)

In [154]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [155]:
list(range(1,11)) #1-start and 11-end parameter

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [156]:
list(range(5,51,5)) #5 is step size,i.e. diffrence

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [157]:
list(range(17,171,17))

[17, 34, 51, 68, 85, 102, 119, 136, 153, 170]

In [158]:
l=list(range(1,10))

In [160]:
#a=l.list(0)

In [161]:
firstNo=range(10)[0]

In [162]:
fifthNo=range(10)[4]

In [163]:
print("accessing python range object with its index\nfirst no in given range is: {}\nFifth no in given range is: {}".format(firstNo,fifthNo))

accessing python range object with its index
first no in given range is: 0
Fifth no in given range is: 4

## For Loop

In [164]:
cities=['Nagpur','Pune','Banglore']

In [165]:
for city in cities:
    print(city)

Nagpur
Pune
Banglore

In [166]:
for city in cities:
    print("I love",city)

I love Nagpur
I love Pune
I love Banglore

In [167]:
for i in range(100,111):
    print(i)

100
101
102
103
104
105
106
107
108
109
110

In [168]:
for i in range(1,10):
    print("Inverse of {} is {}".format(i,1/i))

Inverse of 1 is 1.0
Inverse of 2 is 0.5
Inverse of 3 is 0.3333333333333333
Inverse of 4 is 0.25
Inverse of 5 is 0.2
Inverse of 6 is 0.16666666666666666
Inverse of 7 is 0.14285714285714285
Inverse of 8 is 0.125
Inverse of 9 is 0.1111111111111111

## If Else

In [169]:
city= cities[0]

In [170]:
if city == 'Nagpur':
    print("it's hot")

it's hot

In [171]:
if city == 'mum':
    print("it's hot")
else:
    print("Lets party")

Lets party

In [172]:
if city=='mumbai':
    print("Its cold")
elif city=='Nagpur':
    print("its hot")
else:
    print("lets party")

its hot

In [173]:
for city in cities:
    if city=='mumbai':
        print("Its cold")
    elif city=='Nagpur':
        print("its hot")
    else:
        print("lets party")

its hot
lets party
lets party

## User Input

In [174]:
s=str(input('Enter a string'))

Enter a stringParimal

In [175]:
a=int(input('Enter a integer'))

Enter a integer007

In [176]:
b=float(input('Emter a float'))

Emter a float7.999

## Function

In [177]:
def sqrt(x):
    s=x*x
    return s

In [178]:
sqrt(25)

625

## Lamda Function

lambda[arg1,arg2]:[expression]
python lambda expression allows us to define a function anomously it is worth while to note it is an expression not a statement ie it returns a value it has an implicite return statement

In [179]:
down_by_two=lambda e:e-2 #fuctn name=lambda arg:expression

In [180]:
down_by_two(10)

8

In [181]:
add=lambda a,b:a+b

In [182]:
add(5,5)

10

In [183]:
sqr=lambda p:p*p

In [184]:
sqr(5)

25

## List Comprehension
List comprehensions provide a concise way to create lists.It consists of brackets containing an expression followed by a for clause, then zero or more for or if clauses. The expressions can be anything, meaning you can put in all kinds of objects in list.

In [185]:
l1=[]
def l_sqr(l):
    for i in l:
        l1.append(i*i)
    return l1

In [186]:
l_sqr([1,2,3,4,5])

[1, 4, 9, 16, 25]

### better  way

In [187]:
l=[1,2,3,4,5,6]
#list comprehension
a=[i*i for i in l if i%2==0]   #it reduces above lines of code and execites fastly.

In [188]:
a

[4, 16, 36]

## Map and Filter

In [189]:
def time2(var):
    return var*2

In [190]:
l=[1,2,3,4,5]

In [191]:
map(time2,l) #syntax map(funtn name,attributes)

In [192]:
list(map(time2,l))

[2, 4, 6, 8, 10]

In [193]:
list(map(lambda var:var*5,l))

[5, 10, 15, 20, 25]

In [194]:
l=[1,2,3,4,5,6]

In [195]:
list(map(lambda a:(a/3!=2),l))

[True, True, True, True, True, False]

In [196]:
a=['apple','banana','cherry']

In [197]:
list(map(lambda a:len(a),a))

[5, 6, 6]

### filter

Filter funtions method filter the given sequence with the help of a funtn that test each element in the sequence to be true or not

In [198]:
list(filter(lambda a:a%2==0,l))

[2, 4, 6]

In [199]:
l1=[5,12,17,18,24,32]

In [200]:
list(filter(lambda a:a>17,l1))

[18, 24, 32]

In [201]:
list(filter(lambda a:a/3==2,l))

[6]

In [202]:
s='Hello my name is sam'
s.lower()

'hello my name is sam'

In [203]:
s.upper()

'HELLO MY NAME IS SAM'

In [204]:
s.split()

['Hello', 'my', 'name', 'is', 'sam']

In [205]:
s="go sports! #Sports"

In [206]:
s.split('#')

['go sports! ', 'Sports']

In [207]:
s1="Hello// world// goodmorning//"

In [208]:
s1.split('//')

['Hello', ' world', ' goodmorning', '']

## Sets
A set is an unordered collection data type ie iterable, mutable and has no duplicate elements. Python's set class represents the mathematical notion of a set. This is based on data structure know as hash table.

In [209]:
set_var=set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [210]:
a={1,2,3,1,2,3,1,2,3}

In [211]:
print(a) #unique values

{1, 2, 3}

In [212]:
type(a)

set

In set we can apply all union,intersection opeartions.